<p-table
  #table
  [value]="beers"
  [columns]="columns"
  [styleClass]="'mt-0'"
  [alwaysShowPaginator]="true"
  [autoLayout]="true"
  dataKey="id"
  paginatorPosition="bottom"
  [paginator]="true"
  [rows]="25"
  [reorderableColumns]="false"
  [rowsPerPageOptions]="[25, 50, 100]"
  [resizableColumns]="false"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Actions</th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        <span class="column-title">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </span>
      </th>
    </tr>

    <tr>
      <th></th>
      <th *ngFor="let col of columns">
        <p-multiSelect
          *ngIf="col.header === 'style' && col.isCustom"
          [options]="style"
          [(ngModel)]="selectedStyle"
          (onChange)="onStyleChange($event)"
          id="style"
          defaultLabel="Choose"
          appendTo="body"
        >
        </p-multiSelect>
        <p-multiSelect
          *ngIf="col.header === 'brewery' && col.isCustom"
          [options]="brewery"
          [(ngModel)]="selectedBrewery"
          (onChange)="onBreweryChange($event)"
          id="brewery"
          defaultLabel="Choose"
          appendTo="body"
        >
        </p-multiSelect>

        <input
          *ngIf="!col.isCustom"
          class="column-filter-input"
          (click)="$event.stopPropagation()"
          pInputText
          type="text"
          (input)="
            table.filter($event.target.value, col.field, col.filterMatchMode)
          "
          [value]="table.filters[col.field]?.value"
        />
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-beers let-columns="columns">
    <tr [pSelectableRow]="beers">
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-info-circle"
          (click)="beerInfo(beers)"
          class="p-button-rounded p-button-text"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          (click)="editBeer(beers)"
          class="p-button-rounded p-button-text"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          (click)="deleteBeer(beers)"
          class="p-button-rounded p-button-text"
        ></button>
      </td>
      <td *ngFor="let col of columns">
        <div *ngIf="col.header === 'brewery'; else elseif1">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-question-circle"
            (click)="breweryInfo(beer)"
            class="p-button-rounded p-button-text"
            label="{{ beers[col.field].name }}"
            iconPos="right"
          ></button>
        </div>
        <ng-template #elseif1>
          <div>{{ beers[col.field] }}</div>
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>
