<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button
      label="Back to beer list"
      icon="pi pi-directions-alt"
      iconPos="left"
      (click)="backToList()"
    ></p-button>
  </div>

  <div class="p-toolbar-group-right"></div>
</p-toolbar>

<div class="p-fluid">
  <form [formGroup]="beerGroup">
    <div class="p-field">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText formControlName="name" />
    </div>
    <div class="p-field">
      <label for="style">Style</label>
      <input id="style" type="text" pInputText formControlName="style" />
    </div>
    <div class="p-field">
      <label for="abv">Abv</label>
      <input id="abv" type="text" pInputText formControlName="abv" />
    </div>
    <div class="p-field">
      <label for="ibu">IBU</label>
      <input id="ibu" type="text" pInputText formControlName="ibu" />
    </div>
    <div class="p-field">
      <label for="brewery">Brewery</label>
      <p-dropdown
        inputId="brewery"
        [options]="brewery"
        [(ngModel)]="selectedBrewery"
        placeholder="Choose"
        formControlName="brewery"
      ></p-dropdown>
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        id="description"
        type="text"
        rows="4"
        pInputTextarea
        style="min-width: 450px"
        formControlName="description"
      ></textarea>
    </div>

    <div class="p-field">
      <button
        pButton
        [label]="'Add new beer!'"
        (click)="submitCriteria()"
        icon="pi pi-search"
        [disabled]="!beerGroup.valid"
      ></button>
    </div>
  </form>
</div>
